<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ligoushi</title>
    <link rel="stylesheet" href="./useage.css">
</head>
<body>
    <h3>鼠标样式</h3>
    <div class="list-row">
        <button class="btn default">default</button>
        <button class="btn crosshair">crosshair</button>
        <button class="btn help">help</button>
        <button class="btn move">move</button>
        <button class="btn pointer">pointer</button>
        <button class="btn progress">progress</button>
        <button class="btn text">text</button>
        <button class="btn wait">wait</button>
        <button class="btn e-resize">e-resize</button>
        <button class="btn ne-resize">ne-resize</button>
        <button class="btn nw-resize">nw-resize</button>
        <button class="btn n-resize">n-resize</button>
        <button class="btn se-resize">se-resize</button>
        <button class="btn sw-resize">sw-resize</button>
        <button class="btn s-resize">s-resize</button>
        <button class="btn w-resize">w-resize</button>
        <button class="btn none">none</button>
        <button class="btn context-menu" title="footnoteThis cursor is only supported on macOS and Linux.">context-menu</button>
        <button class="btn cell">cell</button>
        <button class="btn vertical-text">vertical-text</button>
        <button class="btn alias">alias</button>
        <button class="btn copy">copy</button>
        <button class="btn no-drop">no-drop</button>
        <button class="btn not-allowed">not-allowed</button>
        <button class="btn ew-resize">ew-resize</button>
        <button class="btn ns-resize">ns-resize</button>
        <button class="btn nesw-resize">nesw-resize</button>
        <button class="btn nwse-resize">nwse-resize</button>
        <button class="btn col-resize">col-resize</button>
        <button class="btn row-resize">row-resize</button>
        <button class="btn all-scroll">all-scroll</button>
        <button class="btn zoom-in">zoom-in</button>
        <button class="btn zoom-out">zoom-out</button>
    </div>
    <h3>扩大可点击区域</h3>
    <div class="btn-extended1" onclick="console.log('1')">
        click
    </div>
    <h3>未扩大的可点击区域</h3>
    <div class="btn-extended2" onclick="console.log('2')">
        click
    </div>
    <h3>自定义筛选框</h3>
    <input type="checkbox" id="checkdesin">
    <label for="checkdesin">checkbox</label>
</body>
</html>