<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ligoushi</title>
    <link rel="stylesheet" href="./shadow.css">
</head>
<body>
    <h3>单侧投影</h3>
    <div class="box shadow-right"></div>
    <h3>邻边投影</h3>
    <div class="box shadow-right-bottom"></div>
    <h3>双侧投影</h3>
    <div class="box shadow-right-left"></div>
    <h3>不规则投影</h3>
    <div class="box shadow-box drop-shadows1">Content</div>
    <div class="box shadow-box drop-shadows2">Content</div>
    <div class="box shadow-box drop-shadows3">Content</div>
    <h3>毛玻璃</h3>
    <div class="imgbox filter-blur">
        <div class="imgbox-content">
            <div>
                afdfasfaffafaasdf
            </div>
            <footer class="imgbox-footer">
                - <cite>dlSFLSDKFJ,aGAgfdg sdg s</cite>
            </footer>
        </div>
    </div>
</body>
</html>