<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Garden</title>
    <link rel="stylesheet" href="../../assets/style.css">
    <style>
    #canvas {
      background-color: #000000;
    }
    </style>
  </head>
  <body>
    <canvas id="canvas" width="1000" height="600"></canvas>

    <script src="../../util/util.js"></script>
    <script src="../../models/ball.js"></script>
    <script>
    window.onload = function () {
      var canvas = document.getElementById('canvas'),
          context = canvas.getContext('2d'),
          particles = [],
          numParticles = 100,
          minDist = 100,
          springAmount = 0.0001,
          bounce=-0.6;

      for (var size, particle, i = 0; i < numParticles; i++) {
          size=Math.random()*10+2;
        particle = new Ball(5, "#ffffff");
        particle.x = Math.random() * canvas.width;
        particle.y = Math.random() * canvas.height;
        particle.vx = Math.random() * 0.6 - 0.3;
        particle.vy = Math.random() * 0.6 - 0.3;
        particle.mass=size;
        particles.push(particle);
      }

      function spring (partA, partB) {
        var dx = partB.x - partA.x,
            dy = partB.y - partA.y,
            dist = Math.sqrt(dx * dx + dy * dy);
        if (dist < minDist) {
            var alpha=1-dist/minDist;
            context.strokeStyle=utils.colorToRGB("#ffffff",alpha);
            context.beginPath();
            context.moveTo(partA.x,partA.y);
            context.lineTo(partB.x,partB.y);
            context.stroke();
          var ax = dx * springAmount,
              ay = dy * springAmount;
          partA.vx += ax/partA.mass;
          partA.vy += ay/partA.mass;
          partB.vx -= ax/partB.mass;
          partB.vy -= ay/partB.mass;
        }
      }
      function spring (partA, partB) {
        var dx = partB.x - partA.x,
            dy = partB.y - partA.y,
            dist = Math.sqrt(dx * dx + dy * dy);
        if (dist < minDist) {
            var alpha=1-dist/minDist;
            context.strokeStyle=utils.colorToRGB("#ffffff",alpha);
            context.beginPath();
            context.moveTo(partA.x,partA.y);
            context.lineTo(partB.x,partB.y);
            context.stroke();
          var ax = dx * springAmount,
              ay = dy * springAmount;
          partA.vx += ax/partA.mass;
          partA.vy += ay/partA.mass;
          partB.vx -= ax/partB.mass;
          partB.vy -= ay/partB.mass;
        }
      }
      function move (partA, i) {
        partA.x += partA.vx;
        partA.y += partA.vy;
        if (partA.x > canvas.width) {
          partA.x = 0;
        } else if (partA.x < 0) {
          partA.x = canvas.width;
        }
        if (partA.y > canvas.height) {
          partA.y = 0;
        } else if (partA.y < 0) {
          partA.y = canvas.height;
        }
        for (var partB, j = i + 1; j < numParticles; j++) {
          partB = particles[j];
          checkCollision(partA,partB);
          spring(partA, partB);
        }
      }
      //旋转
      function rotate(x,y,sin,cos,reverse){
                return {
                    x:(reverse)?(x*cos+y*sin):(x*cos-y*sin),
                    y:(reverse)?(y*cos-x*sin):(y*cos+x*sin)
                }
            }
            //碰撞检测
            function checkCollision(ball0,ball1){
                var dx=ball1.x-ball0.x,
                dy=ball1.y-ball0.y,
                dist=Math.sqrt(dx*dx+dy*dy);

                if(dist<ball0.radius+ball1.radius){
                    var angle=Math.atan2(dy,dx),
                    sin=Math.sin(angle),
                    cos=Math.cos(angle),
                    //rotate ball0 pos
                    pos0={x:0,y:0},

                    //rotate ball1 pos
                    pos1=rotate(dx,dy,sin,cos,true),

                    //rotate ball0 v
                    vel0=rotate(ball0.vx,ball0.vy,sin,cos,true),

                    //rotate ball1 v
                    vel1=rotate(ball1.vx,ball1.vy,sin,cos,true),

                    //collision reaction

                    vxTotal=vel0.x-vel1.x;
                    vel0.x=((ball0.mass-ball1.mass)*vel0.x+2*ball1.mass*vel1.x)/(ball0.mass+ball1.mass);
                    vel1.x=vxTotal+vel0.x;

                    var absV=Math.abs(vel0.x)+Math.abs(vel1.x),
                    overlap=(ball0.radius+ball1.radius)-Math.abs(pos0.x-pos1.x);
                    pos0.x+=vel0.x/absV*overlap;
                    pos1.x+=vel1.x/absV*overlap;

                    //rotate back
                    var pos0F=rotate(pos0.x,pos0.y,sin,cos,false),
                    pos1F=rotate(pos1.x,pos1.y,sin,cos,false);
                    
                    //调整实际位置
                    ball1.x=ball0.x+pos1F.x;
                    ball1.y=ball0.y+pos1F.y;
                    ball0.x=ball0.x+pos0F.x;
                    ball0.y=ball0.y+pos0F.y;
                    
                    //rotate v back
                    var vel0F=rotate(vel0.x,vel0.y,sin,cos,false),
                    vel1F=rotate(vel1.x,vel1.y,sin,cos,false);
                    ball0.vx=vel0F.x;
                    ball0.vy=vel0F.y;
                    ball1.vx=vel1F.x;
                    ball1.vy=vel1F.y;
                }
            }
            //边界检查
            function checkWalls(ball){
                if(ball.x+ball.radius>canvas.width){
                    ball.x=canvas.width-ball.radius;
                    ball.vx*=bounce;
                }else if(ball.x-ball.radius<0){
                    ball.x=ball.radius;
                    ball.vx*=bounce;
                }
                if(ball.y+ball.radius>canvas.height){
                    ball.y=canvas.height-ball.radius;
                    ball.vy*=bounce;
                }else if(ball.y-ball.radius<0){
                    ball.y=ball.radius;
                    ball.vy*=bounce;
                }
                
            }
      function draw (particle) {
        particle.draw(context);
      }

      (function drawFrame () {
        window.requestAnimationFrame(drawFrame, canvas);
        context.clearRect(0, 0, canvas.width, canvas.height);

        particles.forEach(move);
        particles.forEach(checkWalls);
        particles.forEach(draw);
      }());
    };
    </script>
  </body>
</html>
