<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css:line-height</title>
</head>

<body>
    <h2>半行距=(行高-字体大小)/2</h2>
    <div style="line-height: 2;width:100px;font-size: 16px;background-color: red;">
        <span>第一行</span>
        <span>第二行</span>
    </div>
    <div style="line-height: 2;width:100px;font-size: 16px;background-color: red;">
        <span>第一行</span>
        <span>第二行</span>
    </div>
</body>

</html>