<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spraypaint</title>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
    <canvas id="canvas" width="1000" height="600" class="canvas"></canvas>
    <script src="../../util/util.js"></script>
    <script>
        window.onload=function(){
            var canvas=document.getElementById('canvas'),
            context=canvas.getContext('2d'),
            mouse=utils.captureMouse(canvas),//捕获鼠标
            //imagedata这里是一个很长的数组，其中每个元素代表一个像素，每四个为一组，组成一组合成颜色，分别为红绿蓝和透明度，取值都是0~255
            imagedata=context.getImageData(0,0,canvas.width,canvas.height),
            pixels=imagedata.data,//像素数据
            brush_size=10,//刷子大小
            brush_density=50,//刷子密度
            brush_color;//刷子颜色
            canvas.addEventListener('mousedown',function(){
                //刷子颜色这里取随机色
                brush_color=utils.parseColor(Math.random()*0xffffff,true);
                canvas.addEventListener('mousemove',onMouseMove,false);
            },false);
            canvas.addEventListener('mouseup',function(){
                canvas.removeEventListener('mousemove',onMouseMove,false);
            },false)
            function onMouseMove(){
                for(var i=0;i<brush_density;i++){
                    var angle=Math.random()*Math.PI*2,
                        radius=Math.random()*brush_size,
                        xpos=(mouse.x+Math.cos(angle)*radius)|0,
                        ypos=(mouse.y+Math.sin(angle)*radius)|0,
                        offset=(xpos+ypos*imagedata.width)*4;
                    pixels[offset]=brush_color>>16&0xff;
                    pixels[offset+1]=brush_color>>8&0xff;
                    pixels[offset+2]=brush_color&0xff;
                    pixels[offset+3]=255;
                }
                context.putImageData(imagedata,0,0);
            }
        }
    </script>
</body>
</html>